svg{
	position:absolute;
    top:0;
    left:0;
	width:10000;
	height:10000;
	z-index:-1;
}
canvas{
    border: 3px solid black;
    top:0;
    left:0;
	z-index:-2;
}
button{
    background-color:blue;
    color:white;
    padding:12px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
div{
    width:fit-content;
    background-color:blue;
    color:white;
    padding:12px;
    border-radius:5px;
    cursor:default;
}
input{
	cursor:pointer;
}
h1{
	color:red;
}
body{
    overflow:hidden;
}
#rect{
    x:100;
    y:100;
    fill-opacity:0;
    width:20;
    height:20;
    stroke:rgb(0, 255, 0);
    stroke-width:2;
}
#fuck{
	margin-bottom:100;
}
#main{
    text-align:center;
}
#yum{
    cursor:none;
}
#game{
    position:relative;
    text-align:center;
}
#div{
    margin-left:auto;
    margin-right:auto;
}





